{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}

<div class="col-sm-12 text-center">
<h1>Product Variations</h1>
<table class='table'>

{% for object in object_list %}

<tr>
<td><a href='{{ object.get_absolute_url }}'>{{ object.title }}</a></td><td>{{ object.inventory }}</td>
</tr>

{% endfor %}
</table>


<form method="POST" action=""> {% csrf_token %}

{{ formset.management_form }}

{% for form in formset %}

<h2>{{ form.instance.product.title }}
{{ form.instance.title }}</h2>
{{ form|crispy}}

{% endfor %}
<input type="submit" value='Update' class='btn' />
</form>
</div>

{% endblock %}